<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kelompok17BTugasAkhir.Properties.Settings.KosConnectionString"
            connectionString="Data Source=LAPTOP-9OD41I73\DWIPONCOS;Initial Catalog=Kos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>